click==8.1.7
colorama==0.4.6
h11==0.14.0
numpy==2.1.1
pandas==2.2.3
pd==0.0.4
python-dateutil==2.9.0.post0
python-multipart==0.0.11
pytz==2024.2
six==1.16.0
tzdata==2024.2
uvicorn==0.30.6
flask_sqlalchemy
MarkupSafe==2.1.5
Jinja2==3.1.4
itsdangerous==2.2.0
Flask==3.0.3
